<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atxx.device.mapper.DeviceInfoMapper">

    <resultMap type="DeviceInfo" id="DeviceInfoResult">
        <result property="id"    column="id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="deviceType"    column="device_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="deptId"    column="dept_id"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectDeviceInfoVo">
        select id, device_id, device_type, status, create_by, create_time, update_by, update_time, remark, dept_id, user_id from dev_device_info as d
    </sql>

    <select id="selectDeviceInfoList" parameterType="DeviceInfo" resultMap="DeviceInfoResult">
        <include refid="selectDeviceInfoVo"/>
        <where>
            <if test="deviceId != null  and deviceId != ''"> and device_id like concat('%', #{deviceId}, '%')</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''"> and create_time &gt;= #{beginTime} and create_time &lt;= #{endTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="deptId != null "> and dept_id like concat('%',  #{deptId}, '%')</if>
            <if test="userId != null "> and user_id like concat('%',  #{userId}, '%')</if>
             ${dataScope}
        </where>
    </select>

    <select id="selectDeviceInfoByDevId" parameterType="DeviceInfo" resultMap="DeviceInfoResult">
        <include refid="selectDeviceInfoVo"/>
        <where>
            <if test="deviceId != null  and deviceId != ''"> and device_id = #{deviceId}</if>
        </where>
    </select>

    <select id="selectDeviceInfoById" parameterType="String" resultMap="DeviceInfoResult">
        <include refid="selectDeviceInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertDeviceInfo" parameterType="DeviceInfo">
        insert into dev_device_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="deviceId != null  and deviceId != ''">device_id,</if>
            <if test="deviceType != null  and deviceType != ''">device_type,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="deptId != null ">dept_id,</if>
            <if test="userId != null ">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="deviceId != null  and deviceId != ''">#{deviceId},</if>
            <if test="deviceType != null  and deviceType != ''">#{deviceType},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="userId != null ">#{userId},</if>
        </trim>
    </insert>

    <update id="updateDeviceInfo" parameterType="DeviceInfo">
        update dev_device_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null  and deviceId != ''">device_id = #{deviceId},</if>
            <if test="deviceType != null  and deviceType != ''">device_type = #{deviceType},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="deptId != null ">dept_id = #{deptId},</if>
            <if test="userId != null ">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceInfoById" parameterType="String">
        delete from dev_device_info where id = #{id}
    </delete>

    <delete id="deleteDeviceInfoByIds" parameterType="String">
        delete from dev_device_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertDeviceInfos" useGeneratedKeys="true" keyProperty="id" parameterType="DeviceInfo">
        insert into dev_device_info (id,device_id,device_type,status,create_by,create_time,update_by,update_time,remark,dept_id,user_id)
        values
        <foreach collection="list" item="dept" index="index" separator=",">
            (#{dept.id,jdbcType=BIGINT}, #{dept.deviceId,jdbcType=VARCHAR}, #{dept.deviceType,jdbcType=VARCHAR},
            #{dept.status,jdbcType=VARCHAR}, #{dept.createBy,jdbcType=VARCHAR}, #{dept.createTime,jdbcType=TIMESTAMP}
            , #{dept.updateBy,jdbcType=VARCHAR},#{dept.updateTime,jdbcType=TIMESTAMP}, #{dept.remark,jdbcType=VARCHAR},
             #{dept.deptId,jdbcType=BIGINT}, #{dept.userId,jdbcType=BIGINT})
        </foreach>
    </insert>

</mapper>